:root {
    --background-color: #DDDDDD;
    --main-text-color: #000000;
    --toolbar-color: #8d22a8;
    --content-color: #ffffff;
    --toolbar-text-color: #ffffff;
}

body {
    background: var(--background-color);
    color: var(--main-text-color);
}

.navbar {
    background-color: var(--toolbar-color);
    color: tool;
}

.page-container {
    margin-top: 75px;
}

.bmd-layout-content {
    height: 100vh;
}

.material-icons {
    margin: 0px;
}
.card {
    background: var(--content-color);
}
.bottom-navbar {
    background: var(--content-color);
}
#close {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}
.navbar-brand {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
    color: white;
}
.bmd-layout-drawer {
    background: var(--background-color);
}
#menu {
   display: block;
}
.material-icons{
    color: var(--main-text-color);
}
#fab{
    position: fixed;
    right: 10px;
    bottom: 70px;
    background:  var(--toolbar-color);
    color: white;
    z-index: 999;
}
#ed-calendar-title{
    font-size: 2em;
    text-align: center;
}
#ed-calendar-header{
    display: flex;
    justify-content: flex-start;
}
.ed-calendar-header{
    width: calc((100%/7) - 2px);
    margin: 1px;
    text-align: center;
    background: var(--toolbar-color);
}
#ed-calendar{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#ed-calendar-spacer{
    width: calc(2*((100%/7) - 2px));
    height: 1px;
    margin: 2px;
}
#ed-calendar .card{
    width: calc((100%/7) - 2px);
    margin: 1px;
}
@media(prefers-color-scheme: dark){
    :root {
        --background-color: #555555;
        --main-text-color: #eeeeee;
        --toolbar-color: #621775;
        --toolbar-text-color: #eeeeee;
        --content-color: #777777;
    }
}

#rosefireButton {
    display: block;
    margin: 30px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

#loginPage {
    text-align: center;
}

#logo {
    width: 128px;
    height: 128px;
}

#signinText {
    margin: 0;
}
.modal-backdrop {
    display:none;
}
.modal{
    background-color: rgba(10,10,10,0.45);
}

.modal-content {
    background-color: var(--content-color)
}
