:root {
    --background-color: #DDDDDD;
    --main-text-color: #000000;
    --toolbar-color: #8d22a8
    ;
    --toolbar-text-color: #ffffff;
}

body {
    background: var(--background-color);
}

.navbar {
    background-color: var(--toolbar-color);
    color: tool;
}

.page-container {
    margin-top: 75px;
}

.bmd-layout-content {
    height: 100vh;
}

.material-icons {
    margin: 0px;
}