/* Theme variables */
:root {
    --background-color: #DDDDDD;
    --main-text-color: #000000;
    --toolbar-color: #8d22a8;
    --content-color: #ffffff;
    --toolbar-text-color: #ffffff;
}

@media(prefers-color-scheme: dark) {
    :root {
        --background-color: #555555;
        --main-text-color: #eeeeee;
        --toolbar-color: #621775;
        --toolbar-text-color: #eeeeee;
        --content-color: #777777;
    }
}

/* Modal styles */
.modal {
    background-color: rgba(10, 10, 10, 0.45);
}

.modal-backdrop {
    display: none;  /* hacky solution to backdrop appearing over content */
}

.modal-content {
    background-color: var(--content-color)
}

/* Drawer styles */
.bmd-layout-drawer {
    background: var(--background-color);
}

#close {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}

#menu {
    display: block;
}

/* Global styles */
.bmd-layout-content {
    height: 100vh;
}

body {
    background: var(--background-color);
    color: var(--main-text-color);
}

.bottom-navbar {
    background: var(--content-color);
}

.card {
    background: var(--content-color);
}

.material-icons {
    color: var(--main-text-color);
    margin: 0px;
}

.navbar {
    background-color: var(--toolbar-color);
}

.navbar-brand {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#fab {
    position: fixed;
    right: 10px;
    bottom: 70px;
    background: var(--toolbar-color);
    color: white;
    z-index: 999;
}

/* Edit page styles */
#ed-calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#ed-calendar .card {
    width: calc((100%/7) - 2px);
    margin: 1px;
}

.ed-calendar-header {
    width: calc((100%/7) - 2px);
    margin: 1px;
    text-align: center;
    background: var(--toolbar-color);
}

#ed-calendar-title {
    font-size: 2em;
    text-align: center;
}

/* Login page styles */
#loginPage {
    text-align: center;
}

#logo {
    width: 128px;
    height: 128px;
}

#rosefireButton {
    display: block;
    margin: 30px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

#signinText {
    margin: 0;
}

#colorOptions {
    padding: 14px;
}

#submitSettings {
    background-color: var(--content-color);
    color: var(--main-text-color);
}

#editThis {
    background-color: var(--content-color);
    color: var(--main-text-color);
}